.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
.eslintrc.js
**/tslint.json
**/*.map
**/*.ts
node_modules/**

# Exclude everything from parent directory
../**
